.invoice-form {
  width: 21cm;
  height: 30cm;
  background-color: white;
  margin: 32px auto;
  padding: 32px;
  display: grid;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  grid-template-areas: 
    "logo logo . ."
    "creditor . . debitor"
    "title title title ."
    "positions positions positions positions";
  grid-template-rows: 160px 160px 100px auto;
  grid-template-columns: repeat(4, 1fr);
  // outline: none;

  .creditor {
    grid-area: creditor;
  }

  .debitor {
    grid-area: debitor;
    justify-self: end;
  }

  .title {
    grid-area: title;
  }

  .positions {
    grid-area: positions;
  }

}