
@font-face {
	font-family: 'Approach';
	src: 
		local('fonts/approach'), url('/public/fonts/approach/approach-regular.eot') format('eot'),
		local('fonts/approach'), url('/public/fonts/approach/approach-regular.ttf') format('ttf'),
		local('fonts/approach'), url('/public/fonts/approach/approach-regular.woff') format('woff'),
		local('fonts/approach'), url('/public/fonts/approach/approach-regular.woff2') format('woff2'),
		local('fonts/approach'), url('/public/fonts/approach/approach-regular.svg') format('svg');
	font-display: block;
	font-weight: 400;
}

@font-face {
	font-family: 'Approach';
	src: 
		local('fonts/approach'), url('/public/fonts/approach/approach-semibold.eot') format('eot'),
		local('fonts/approach'), url('/public/fonts/approach/approach-semibold.ttf') format('ttf'),
		local('fonts/approach'), url('/public/fonts/approach/approach-semibold.woff') format('woff'),
		local('fonts/approach'), url('/public/fonts/approach/approach-semibold.woff2') format('woff2'),
		local('fonts/approach'), url('/public/fonts/approach/approach-semibold.svg') format('svg');
	font-display: block;
	font-weight: 600;
}

@font-face {
	font-family: 'Approach Mono';
	src: 
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-light.eot') format('eot'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-light.ttf') format('ttf'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-light.woff') format('woff'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-light.woff2') format('woff2'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-light.svg') format('svg');
	font-display: block;
	font-weight: 300;
}

@font-face {
	font-family: 'Approach Mono';
	src: 
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-regular.eot') format('eot'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-regular.ttf') format('ttf'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-regular.woff') format('woff'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-regular.woff2') format('woff2'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-regular.svg') format('svg');
	font-display: block;
	font-weight: 400;
}

@font-face {
	font-family: 'Approach Mono';
	src: 
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-medium.eot') format('eot'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-medium.ttf') format('ttf'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-medium.woff') format('woff'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-medium.woff2') format('woff2'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-medium.svg') format('svg');
	font-display: block;
	font-weight: 500;
}

@font-face {
	font-family: 'Approach Mono';
	src: 
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-semibold.eot') format('eot'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-semibold.ttf') format('ttf'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-semibold.woff') format('woff'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-semibold.woff2') format('woff2'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-semibold.svg') format('svg');
	font-display: block;
	font-weight: 600;
}

@font-face {
	font-family: 'Approach Mono';
	src: 
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-bold.eot') format('eot'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-bold.ttf') format('ttf'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-bold.woff') format('woff'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-bold.woff2') format('woff2'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-bold.svg') format('svg');
	font-display: block;
	font-weight: 700;
}

@font-face {
	font-family: 'Approach Mono';
	src: 
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-black.eot') format('eot'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-black.ttf') format('ttf'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-black.woff') format('woff'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-black.woff2') format('woff2'),
		local('fonts/approach-mono'), url('/public/fonts/approach-mono/approach-mono-black.svg') format('svg');
	font-display: block;
	font-weight: 900;
}

